
<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @vposts.each do |vpost| %>
    <tr>
      <td><%= vpost.title %></td>
      <td><img src = "<%= vpost.image %>">
      </td>
    </tr>
          <td><%= link_to 'Show', vpost_path(vpost) %></td>

  <% end %>
</table>